<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- RimBoard requests no network or data permissions. The only permission
         is VIBRATE, used for key-press haptics. Without INTERNET the keyboard
         is physically unable to send anything off the device. -->

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:localeConfig="@xml/locales_config"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RimBoard">

        <service
            android:name=".RimBoardService"
            android:exported="true"
            android:directBootAware="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".setup.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_title" />

        <activity
            android:name=".settings.PersonalDictActivity"
            android:exported="false"
            android:label="@string/pref_personal_dict_title" />

        <activity
            android:name=".settings.ShortcutsActivity"
            android:exported="false"
            android:label="@string/pref_shortcuts_title" />

        <activity
            android:name=".settings.StatsActivity"
            android:exported="false"
            android:label="@string/pref_stats_title" />

    </application>

</manifest>
